.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 760px) and (max-width: 1024px) {
  .lanyard-wrapper {
    height: 50vh;
  }
}

@media (min-width: 400px) and (max-width: 760px) {
  .lanyard-wrapper {
    height: 100%;
  }
}
